.App {
  text-align: center;
  background-color: #EDC7B7;
  height: 100%;

  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Open Sans', sans-serif;
}

.App-intro {
  font-size: large;
}

.App-logo {
  animation: App-logo-move infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: #123C69;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: left;
}

.Listing {
  background-color: rgb(105, 146, 221);
  text-align: left;
  width: 75%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 15px 30px;
}

.RideEntry {
  border: #000000;
  background-color: #EEE2DC;
  padding: 10px 20px;
  border-radius: 12px;
  margin-bottom: 2%;
}

.toggleButton {
  background-color: #AC3B61;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.RideEntryField {
  padding: 0%;
  line-height: 1.0em;
}

.toggleButton:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-logo-move {
  from { transform: translate(-10px,15px); }
  to { transform: translate(90px,15px); }
}
