{
    "presets": [
      [
        "@babel/preset-env", 
        {
          "targets": {
            "node": "10"
          }
        }
      ],
      "@babel/preset-typescript",
      "@babel/preset-react",
    ], "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread",
      "@babel/plugin-transform-async-to-generator"
    ], 
    "env": {
      "development": {
        "compact": true
      }
    }
  }