# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# temp files
/dist
/lib

# testing
/coverage

# production
/build
/client/bundle.js

# misc
.DS_Store
.env
.vscode
4.1.2
npm-debug.log*
yarn-debug.log*
yarn-error.log*

